<%= form_with(model: stamping, local: true) do |form| %>
  <% if stamping.errors.any? %>
    <div id="errćr_explanation">
      <h2><%= pluralize(stamping.errors.count, "error") %> prohibited this stamping from being saved:</h2>

      <ul>
      <% stamping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count, id: :transaction_count %>
  </div>

  <div class="field">
    <%= form.label :card_id %>
    <%= form.select :card_id do %>
      <% @cards.each do |c| %>
        <%= content_tag :option, c.company.name + ' | ' + c.name, value: c.id %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :address_id %>
    <%= form.select :address_id do %>
      <% @addresses.each do |a| %>
        <%= content_tag :option, a.company.name + ' | ' + a.street, value: a.id %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.select :user_id do %>
      <% @users.each do |u| %>
        <%= content_tag :option, u.email, value: u.id %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
