<p id="notice"><%= notice %></p>

<p>
  <strong>Stamps count:</strong>
  <%= @card.stamps_count %>
</p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @card.description %>
</p>

<p>
  <strong>Exploited:</strong>
  <%= @card.exploited %>
</p>

<p>
  <strong>Company:</strong>
  <%= @card.company %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
